
<ion-header>

  <ion-toolbar color="primary">
    <ion-searchbar 
        [(ngModel)]="searchTerms"
        [formControl]="searchControl"
        (ionInput)="onSearchInput()"
        [showCancelButton]="true"
        (ionCancel)="searchTerms = ''"
        cancelButtonText="Cancel"
        placeholder="Filter by streets"
      ></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>

  <div *ngIf="isSearching" class="spinner-container" padding>
      <ion-spinner></ion-spinner>
  </div>
  <ion-list [virtualScroll]="wifiPointList | orderBy: [ 'ADRECA' ]" [virtualTrackBy]="customTrackBy" [approxItemHeight]=" '50px' ">
    <!-- let wifiPoint of wifiPointList | WifipointsFilter:listFilter | orderBy: [ 'ADRECA' ] -->
    <!-- <button ion-item *ngFor="let wifiPoint of wifiPointList | orderBy: [ 'ADRECA' ]" (click)="goToDetailPage( wifiPoint )"> -->
    <button ion-item *virtualItem="let wifiPoint" (click)="goToDetailPage( wifiPoint )">
      
      <ion-icon name="pin"></ion-icon><span padding>{{wifiPoint.ADRECA}}</span>
    </button>
  </ion-list>
</ion-content>
