page-find-nearest {
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .current-pos-txt {
        margin-bottom: 10px;
    }
    .current-address {
        font-weight: bold;
        margin-bottom: 13px;
    }
    #search-nearest-but {
        margin-bottom: 10px;
    }
}
